@model BookDisplayModel
@{

}

<div classs="my-4">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId" >
                <option selected>Choose Genre</option>
                @foreach(Genre genre in Model.Genres)
                {
                    <option selected="@(Model.GenreId == genre.Id)" value="@genre.Id">@genre.GenreName</option>
                }
            </select>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="sTerm">Search By Title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" id="sTerm" name="sTerm" placeholder="Search By Title" value="@Model.STerm">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-primary">Reset</a>
        </div>
    </form>
</div>
<div class="w-100 d-flex flex-wrap">
    @foreach(Book book in Model.Books) {
        <div class="card mx-3 mt-4 mb-4" style="width: 14rem;">
            @{
                string imageSrc = "/images/NoImage.jpg";
                if (string.IsNullOrEmpty(book.Image))
                {
                    imageSrc = "/images/" + book.BookName;
                }
            }
            <img style="width:100%;height:200px" src="@imageSrc" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@book.BookName</h5>
                <h6 class="card-title"><b>Genre: </b>@book.GenreName</h6>
                <h6 class="card-title"><b>Author: </b>@book.AuthorName</h6>
                <h6 class="card-title"><b>Price: </b>@book.Price</h6>
                @* <h6 class="card-title"><b>Quantity: </b>@book.Quantity</h6> *@
                @if (book.Quantity > 0)
                {
                    <button type="button" onclick="add(@book.Id)" class="btn btn-primary">Add To Cart</button>
                }
                else
                {
                    <span style="border: 1px solid;padding: 5px 8px;color: red;border-radius: 5px;">Out of stock</span>
                }
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/cart.js"></script>
}